* {
    font-family: 'Nanum Barun Gothic';
}

body, html {
    height:100%;
}

body {
    padding:0;
    margin:0;
    background-color:#F2F2F2;
}
a {
    text-decoration:none;
}

a:hover{
    text-decoration:none;
}
a:focus{
    outline:none;
    text-decoration:none;
}

section {
    height:100%;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

input[type="text"] {
    height:20px;
}

/*select {
    width:150px;
    padding: .5em .5em;
    font-family: inherit;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    border-radius: 0px;
}

select::-ms-expand
    display: none;
}
*/
.wrapper {
    width:100%;
    height:100%;
}

.header {
    width:100%;
    background-color:#484848;
    height:60px;
}

#logo {
    padding:20px;
    color:#fff;
    width:200px;
    float:left;
}

.tab-wrap {
    position:relative;
    padding-top:29px;
    float:left;
}

.tab-wrap ul {
    list-style:none;
    padding:0;
    margin:0;
}

.tab-wrap ul li {
    display:inline-block;
    border-top:1px solid #8B8A8A;
    border-left:1px solid #8B8A8A;
    border-right:1px solid #8B8A8A;
    height:20px;
    padding:7px 10px 3px 10px;
    background-color:#605D5D;
    color:#fff;
    font-size:10pt;
    cursor:pointer;
}

.tab-wrap ul li:hover {
    background-color:#fff;
    color:#000;
}

.tab-content {
    position:absolute;
    top:60px;
    left:0;
    background-color:#fff;

}

#tab1 {
    left:0;
    width:80px;
    height:30px;
    display:none;
}

#tab2 {
    left:49px;
    height:30px;
    width:250px;
    display:none;
}

#tab3 {
    left:111px;
    height:30px;
    width:170px;
    display:none;
}

#tab4 {
    left:160px;
    height:30px;
    width:170px;
    display:none;
}

.tab-item {
    display:inline-block;
    font-size:10pt;
    padding:8px 10px 3px 10px;
}

nav {
    width:230px;
    height:100%;
    background-color:#D9D9D9;
    display:inline-block;
}
nav ul {
    list-style:none;
    padding:0;
    margin:0;
}

nav ul li {

    background-color:#D9D9D9;
    color:#000;
    padding:15px 0px 12px 0px;
    clear:both;
    cursor:pointer;
    font-size:18pt;
}

nav ul li.active {
    padding-bottom:0px;
}

.left-item {
    display:inline-block;
    padding-left:10px;
}

.left-icon {
    display:inline-block;
    color:#7f7f7f;
    padding-right:10px;
    float:right;
}

.sub-menu {
    margin-top:10px;
    display:block;
    background-color:#fff;
    display:none;
}

.sub-menu p {
    padding:15px 0px 0px 15px;
    font-size:12pt;
    color:#7f7f7f;
    height:32px;
    margin:0px;
}

.sub-menu p:hover, .sub-menu p.active {
    color:#fff;
    background-color:#6e5645;
}

.content {
    vertical-align:top;
    display:inline-block;
    padding:0px 10px 0px 10px;
    width: calc( 100% - 260px);
}

.title {
    font-size:20pt;
    color:#000;
}

.search {
    padding:15px 0px 5px 5px;
    background-color:#fff;
    border:1px solid #A5A5A5;
    width:100%;
    min-height:30px;
    font-size:9pt;
}

.search1 {
    width:30%;
    float:left;
}

.search2 {
    width:65%;
    text-align:right;
    float:right;
    padding-right:10px;
}

.btn {
    padding:5px 12px;
    font-size:10pt;
}

.btn-default {
    border:1px solid #a5a5a5;
    background-color:#fff;
    color:#333;
}

.btn-black {
    border:1px solid #2d2c2c;
    background-color:#544e4c;
    color:#fff;
}

.btn-search {
    border:1px solid #e6a15c;
    background-color:#e6a15c;
    color:#fff;
}

.btn-brown {
    border:1px solid #6e6867;
    background-color:#6e6867;
    color:#fff;
}

.btn-small {
    padding:3px 7px;
    font-size:8pt !important;
}

.btn-left {
    float:left;
}

.btn-right {
    float:right;
}

.table-list {
    display:block;
    clear:both;
    width:100%;
    margin:20px 0px 0px 0px;
    /*padding-top:20px;*/
    background-color:#fff;
}

.table {
    width:100%;
}

.table > thead {
    background-color:#6e6867;
    color:#fff;
    font-size:14pt;
}

.table > thead > tr > th {
    height:45px;
}

.table > tbody {
    background-color:#fff;
    color:#7f7f7f;
    font-size:9pt;
    text-align:center;
}

.table > tbody > tr {
    height:30px;
    border-bottom:1px solid #d9d9d9;
}

.table > tbody > tr > td > a {
    text-decoration:underline;
    color:#333;
}

.table > tbody > tr > td > a:hover {
    text-decoration:none;
}

.top-button-group {
    margin-top:20px;
    margin-bottom:20px;
    height:30px;
}

.bottom-button-group {
    margin-top:20px;
    height:30px;
}

.ml5 {
    margin-left:5px;
}

.ml15 {
    margin-left:15px;
}

.pagination {
    width:100%;
    text-align:center;
    padding:10px 0px;
}

.pagination ul {
    list-style:none;
    padding:0;
    margin:0;
}

.pagination ul li {
    display:inline-block;

    font-size:9pt;
    cursor:pointer;
}

.pagination ul li.first, .pagination ul li.last {
    border:1px solid #d9d9d9;
    padding:2px 6px;
    width:20px;
}

.pagination ul li a.num {
    padding:4px 10px 0px 10px;
    width:20px;
    color:#333333;
}

.pagination ul li a.num:hover {
    font-weight:bold;
}

.pagination ul li a.active {
    color:#49aeed;
    text-decoration:underline;
}

.form-group {
    display:inline-block;
}

.selectbox {
    display:inline-block;
    position: relative;
    width: 150px;/* 너비설정 */

    border: 1px solid #ddd; /* 테두리 설정 */

    z-index: 1;

    /* focus 효과*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* focus 효과 */
.selectbox.focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

/* 가상 선택자를 활용 화살표 대체 */
.selectbox:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #313131;
}

.selectbox label {
    position: absolute;
    top: 1px; /* 위치정렬 */
    left: 5px; /* 위치정렬 */
    padding: .5em .5em; /* select의 여백 크기 만큼 */
    color: #333;
    z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
}

.selectbox select {
    width: 100%;
    height: auto;  /* 높이 초기화 */
    line-height: normal; /* line-height 초기화 */
    font-family: inherit; /* 폰트 상속 */
    padding: .6em .5em;  /* 여백과 높이 결정 */
    border: 0;
    opacity: 0;  /* 숨기기 */
    filter: alpha(opacity=0);  /* IE8 숨기기 */

    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

.ui-datepicker-trigger{
    border:none;
    background:none;
}

.ui-widget-header {
    background-color:#6E5645;
    border-radius:0;
    color:#fff;
}

.ui-dialog .ui-dialog-content {
    padding:0;
    overflow-x:hidden;
}

.modal-title {
    font-size:10pt;
    /*background-color:#FCE5CD;*/
    background-color:#CCCCCC;

}

.modal-title-text {
    background-color:#FCE5CD;
    width:17%;
    padding:5px 10px
}

.modal-field {
    display:block;
    clear:both;
    font-size:9pt;
    padding:5px 10px;
    width:99%;
}

.modal-field-input {
    display:inline-block;
    width:49%;
}

.modal-field-input.full {
    display:block;
    width:100%;
}

.modal-field-input > .input > input[type="text"] {
    height:15px;
    width:90%;
}


.modal-field-input > .label {
    display:inline-block;
    width:39%;
}

.modal-field-input > .input {
    display:inline-block;
    width:60%;
}

.modal-field-input.full > .label {
    display:inline-block;
    width:19%;
}

.modal-field-input.full > .input {
    display:inline-block;
}

.modal-field-input > .input > input[type="text"].width-button {
    width:61%;
}

.modal-field-input.full > .input {

}

.modal-button {
    border-top:1px solid #ddd;
    margin:10px auto;
    padding-top:10px;
    text-align:center;
}