* {
    font-family: 'Nanum Barun Gothic';
}

body, html {
    height:100%;
}

body {
    padding:0;
    margin:0;
    background-color:#F2F2F2;
}
a {
    text-decoration:none;
    color:#000;
}

a:hover{
    text-decoration:none;
}
a:focus{
    outline:none;
    text-decoration:none;
}

section {
    height:100%;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

ul {
    list-style:none;
    padding:0;
    margin:0;
}
input[type="text"] {
    height:22px;
    padding:0px 5px;
}

input[type="text"].right {
    text-align:right;
}

textarea:focus, input:focus{
    outline: none;
}

i {cursor:pointer;}

.dib {
    display:inline-block;
}
/*select {
    width:150px;
    padding: .5em .5em;
    font-family: inherit;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    border-radius: 0px;
}

select::-ms-expand
    display: none;
}
*/
.wrapper {
    width:100%;
    height:100%;
}

.header {
    width:100%;
    background-color:#484848;
    height:60px;
}

#logo {
    padding:20px;
    color:#fff;
    width:200px;
    float:left;
}

.tab-wrap {
    position:relative;
    padding-top:29px;
    float:left;
}

.tab-wrap ul {
    list-style:none;
    padding:0;
    margin:0;
}

.tab-wrap ul li {
    display:inline-block;
    border-top:1px solid #8B8A8A;
    border-left:1px solid #8B8A8A;
    border-right:1px solid #8B8A8A;
    height:20px;
    padding:7px 10px 3px 10px;
    background-color:#605D5D;
    color:#fff;
    font-size:10pt;
    cursor:pointer;
}

.tab-wrap ul li:hover {
    background-color:#fff;
    color:#000;
}

.tab-content {
    position:absolute;
    top:60px;
    left:0;
    background-color:#fff;

}

#tab1 {
    left:0;
    width:80px;
    height:30px;
    display:none;
}

#tab2 {
    left:49px;
    height:30px;
    width:250px;
    display:none;
}

#tab3 {
    left:111px;
    height:30px;
    width:170px;
    display:none;
}

#tab4 {
    left:160px;
    height:30px;
    width:170px;
    display:none;
}

.tab-item {
    display:inline-block;
    font-size:10pt;
    padding:8px 10px 3px 10px;
}

nav {
    width:230px;
    height:100%;
    background-color:#D9D9D9;
    display:inline-block;
}
nav ul {
    list-style:none;
    padding:0;
    margin:0;
}

nav ul li {

    background-color:#D9D9D9;
    color:#000;
    padding:15px 0px 12px 0px;
    clear:both;
    cursor:pointer;
    font-size:18pt;
}

nav ul li.active {
    padding-bottom:0px;
}

.left-item {
    display:inline-block;
    padding-left:10px;
}

.left-icon {
    display:inline-block;
    color:#7f7f7f;
    padding-right:10px;
    float:right;
}

.sub-menu {
    margin-top:10px;
    display:block;
    background-color:#fff;
    display:none;
}

.sub-menu p{
    padding:15px 0px 0px 15px;
    font-size:12pt;
    color:#7f7f7f;
    height:32px;
    margin:0px;
}

.sub-menu p a{
    color:#7f7f7f;
}

.sub-menu p:hover, .sub-menu p.active , .sub-menu p a:hover, .sub-menu p a.active {
    color:#fff !important;
    background-color:#6e5645;
}

.content {
    vertical-align:top;
    display:inline-block;
    padding:0px 10px 0px 10px;
    width: calc( 100% - 260px);
}

.title {
    font-size:20pt;
    color:#000;
}

.search {
    padding:15px 0px 5px 5px;
    background-color:#fff;
    border:1px solid #A5A5A5;
    width:100%;
    min-height:30px;
    font-size:9pt;
}

.search1 {
    width:30%;
    float:left;
}

.search2 {
    width:65%;
    text-align:right;
    float:right;
    padding-right:10px;
}

.btn {
    padding:5px 12px;
    font-size:10pt;
    cursor:pointer;
}

.btn-default {
    border:1px solid #a5a5a5;
    background-color:#fff;
    color:#333;
}

.btn-black {
    border:1px solid #2d2c2c;
    background-color:#544e4c;
    color:#fff;
}

.btn-search {
    border:1px solid #e6a15c;
    background-color:#e6a15c;
    color:#fff;
}

.btn-brown {
    border:1px solid #6e6867;
    background-color:#6e6867;
    color:#fff;
}

.btn-small {
    padding:3px 7px;
    font-size:8pt !important;
}

.btn-left {
    float:left;
}

.btn-right {
    float:right;
}

.table-list {
    display:block;
    clear:both;
    width:100%;
    margin:20px 0px 0px 0px;
    /*padding-top:20px;*/
    background-color:#fff;
}

.table {
    width:100%;
}

.table > thead {
    background-color:#6e6867;
    color:#fff;
    font-size:10pt;
}

.table > thead > tr > th {
    height:35px;
}

.table > tbody {
    background-color:#fff;
    color:#7f7f7f;
    font-size:9pt;
    text-align:center;
}

.table > tbody > tr {
    height:30px;
    border-bottom:1px solid #d9d9d9;
}

.table > tbody > tr > td > a {
    text-decoration:underline;
    color:#333;
}

.table > tbody > tr > td > a:hover {
    text-decoration:none;
}

.top-button-group {
    margin-top:20px;
    margin-bottom:20px;
    height:30px;
}

.bottom-button-group {
    margin-top:20px;
    height:30px;
}

.ml5 {
    margin-left:5px;
}

.ml15 {
    margin-left:15px;
}

.pagination {
    width:100%;
    text-align:center;
    padding:10px 0px;
    list-style:none;
    margin:0;
}

.pagination li {
    display:inline-block;

    font-size:9pt;
    cursor:pointer;
    padding:4px 10px 0px 10px;
    width:20px;
    color:#333333;
}

.pagination li a {
    color:#333333;
}
.pagination li.first, .pagination li.last {
    border:1px solid #d9d9d9;
    padding:2px 6px;
    width:20px;
}

.pagination li:hover {
    font-weight:bold;
}

.pagination li.active a {
    color:#49aeed;
    text-decoration:underline;
}

.form-group {
    display:inline-block;
}

.selectbox {
    display:inline-block;
    position: relative;
    width: 150px;/* 너비설정 */

    border: 1px solid #ddd; /* 테두리 설정 */

    z-index: 1;

    /* focus 효과*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* focus 효과 */
.selectbox.focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

/* 가상 선택자를 활용 화살표 대체 */
.selectbox:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #313131;
}

.selectbox label {
    position: absolute;
    top: 1px; /* 위치정렬 */
    left: 5px; /* 위치정렬 */
    padding: .5em .5em; /* select의 여백 크기 만큼 */
    color: #333;
    z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
}

.selectbox select {
    width: 100%;
    height: auto;  /* 높이 초기화 */
    line-height: normal; /* line-height 초기화 */
    font-family: inherit; /* 폰트 상속 */
    padding: .6em .5em;  /* 여백과 높이 결정 */
    border: 0;
    opacity: 0;  /* 숨기기 */
    filter: alpha(opacity=0);  /* IE8 숨기기 */

    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

.ui-datepicker-trigger{
    border:none;
    background:none;
}

.ui-widget-header {
    background-color:#6E5645;
    border-radius:0;
    color:#fff;
}

.ui-dialog .ui-dialog-content {
    padding:0;
    overflow-x:hidden;
}

.modal-title {
    font-size:10pt;
    /*background-color:#FCE5CD;*/
    background-color:#CCCCCC;

}

.modal-title-text {
	/* 0528_KSIDC */
    background-color:#EBE9E4;
    width:18%;
    padding:7px 10px;
	font-weight: bold;
}

.modal-field {
    display:block;
    clear:both;
    font-size:9pt;
    padding:5px 10px;
    width:99%;
}

.modal-field-input {
    display:inline-block;
    width:49%;
}

.modal-field-input.full {
    display:block;
    width:100%;
}

.modal-field-input > .input > input[type="text"] {
    height:22px;
    width:90%;
}


.modal-field-input > .label {
    display:inline-block;
    width:39%;
}

.modal-field-input > .input {
    display:inline-block;
    width:60%;
}

.modal-field-input.full > .label {
    display:inline-block;
    width:19%;
}

.modal-field-input.full > .input {
    display:inline-block;
}

.modal-field-input > .input > input[type="text"].width-button {
    width:61%;
}

.modal-field-input.full > .input {

}

.modal-button {
    border-top:1px solid #ddd;
    margin:10px auto;
    padding-top:10px;
    text-align:center;
}

.modal_search {
    padding:5px 10px;
    border:1px solid #ddd;
    background:#eee;
}

.modal_search ul {
    list-style:none;
    padding:0;
    margin:0;
}

.modal_search ul li {
    display:inline-block;
}

.dialog {
    display:none;
}

.modal_search_list {
    margin-top:10px;
}

.modal_search_list > table > thead > tr > th {
    height:25px;
    font-size:14px;
}

.modal_search_list > table > tbody {
    height:300px;
    overflow:auto;
}

.type-add {
    font-size:12px;
    width:100%;
}

.type-add-left {
    display:inline-block;
}

.type-add-right {
    display:inline-block;
}

.text-center {
    text-align:center;
}

.content-tab ul {
    list-style:none;
    padding:0;
    margin:0;
}

.content-tab ul li {
    background-color:gray;
    padding:8px 20px;
    display:inline-block;
    font-size:13px;
    color:#fff;
    cursor:pointer;
    margin-right:3px;
}

.content-tab ul li.active {
    background-color:#6e5645;

}

.content-tab ul li.add {
    background-color:#333;
}

.modal-close-btn {
    text-align:center;
    background:#dedede;
    margin-top:5px;
    line-height:40px
}

.modal_search ul li {
    font-size:12px;
}

.etc-info {
    border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-size:12px;line-height:30px
}

.full > .input {
    width:80%;
}

/* Clearable text inputs */
.clearable{
    position: relative;
    display: inline-block;
}
.clearable input[type=text]{
    padding-right: 24px;
    width: 100%;
    box-sizing: border-box;
    height:22px;
}
.clearable__clear{
    /*display: none;*/
    position: absolute;
    right:0; top:3px;
    padding: 0 8px;
    font-style: normal;
    font-size: 1.2em;
    user-select: none;
    cursor: pointer;
}
.clearable input::-ms-clear {  /* Remove IE default X */
    display: none;
}

.popup_title {
    color:#fff;
    background-color:#6e5645;
    height:20px;
}

.w35 {
    width:30%;
}

.modal-field.service {
    padding-top:0px;
    padding-bottom:0px
}

.modal-field-input.full > .label.service {
    width:31.2%;
    vertical-align:top;
    padding-top:10px
}

.input.service {
    width:66%;
    border-left:2px solid #ddd
}

.modal-service-left {
    border-bottom:2px solid #ddd;
    padding-top:10px
}
.service-label {
    display:inline-block;
    width:20%;
    padding-left:10px;
    vertical-align:top;
    padding-top:10px;
}

.sb_add, .sc_add, .cms {
    list-style:none;
    padding:0;
    margin:0;
    display:inline-block;
    width:70%
}

.btn-service-label {
    padding-left:110px;
    padding-top:3px
}

.service-type {
    list-style:none;
    margin:0;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.detail-price {
    font-size:12px;

}

.price-label {
    background:#ddd;
    border-right:1px solid #fff;
    width:100%;
    padding:5px 0px;
}

.select2-results__option {
    font-size:12px;
}

.searchStep1 {
    padding-left:15px;
    padding-top:5px;
    padding-bottom:5px;

}

.searchStep2 {
    padding-left:15px;
    padding-top:5px;
    padding-bottom:5px;
    width:45%;
    display:inline-block;
}

.searchStep3 {
    padding-left:15px;
    padding-top:5px;
    padding-bottom:5px;
}

.searchStep4 {
    padding-left:15px;
    padding-top:5px;
    padding-bottom:5px;
}


.border_tit {font-family:굴림, verdana, arial; font-size: 11px;color: #000000;}

.border_up {font-family:굴림, verdana, arial; font-size: 11px;color: #000000; border-top-width:1; border-right-width:1; border-bottom-width:1; border-left-width:1; border-color:#f4ce42; border-top-style:solid; border-left-style:none; border-right-style:solid; border-bottom-style:none;}

.border_all {font-family:굴림, verdana, arial; font-size: 11px;color: #000000; border-top-width:2; border-right-width:2; border-bottom-width:2; border-left-width:2; border-color:#f4ce42; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:solid; }

.border_both {font-family:굴림, verdana, arial; font-size: 11px;color: #000000; border-top-width:1; border-right-width:1; border-bottom-width:1; border-left-width:1; border-color:#f4ce42; border-top-style:none; border-left-style:solid; border-right-style:solid; border-bottom-style:none;}

.border_top {font-family:굴림, verdana, arial; font-size: 11px;color: #000000; border-top-width:1; border-right-width:1; border-bottom-width:1; border-left-width:1; border-color:#f4ce42; border-top-style:solid; border-left-style:none; border-right-style:none; border-bottom-style:none;}

.border_back {font-family:굴림, verdana, arial; font-size: 11px;color: #000000; border-top-width:1; border-right-width:1; border-bottom-width:1; border-left-width:1; border-color:#f4ce42; border-top-style:solid; border-left-style:solid; border-right-style:solid; border-bottom-style:none;}

.border-no {
    border:0px;
}

.width90 {
    width:85%;
    padding:0;
}

.modal-title {
    background: #DDDDDD;
}
.modal-title-text{
    width:90%;
    background:#dddddd;

}

.modal-title-text > div {
    margin-left:2px;
    border-left:8px solid gray;
    padding-left:8px;
}

.modal-field {

    padding:0;
    border-bottom:1px solid #ddd;
}

.label {
    background:#f4f4f4;

}
.label.padd {
    padding:7px 0px;
}

.label > div {
    /*padding-left:10px;*/
    padding:7px 10px;
}

.input.padd {
   padding:7px 0px
}

.modal-field-input.full > .label.label2 {
    width:30%;
}

.modal-field-input.full > .input.input2 {
    width:68%;
}

.right {
    text-align:right;
}